<div class="row principal">
    <div class="col-lg-8 recetas">
        <div class="row centro"> <!-- Filtros -->
            <form>
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Filtros</h4>
                    </div>
                    <div class="col-lg-6 hi">
                        <button type="reset" class="btn btn-primary">Borrar Filtro</button>
                    </div>
                    <div class="col-lg-4 form-check">
                        <label class="form-label"><b>Categoría</b></label><br>
                        <input class="form-check-input" type="radio" id="tipoF" name="Tipo" value="Frío" [(ngModel)]="listFilter">
                        <label class="form-check-label" for="tipoF">Frío</label><br>
                        <input class="form-check-input" type="radio" id="tipoC" name="Tipo" value="Caliente" [(ngModel)]="listFilter">
                        <label class="form-check-label" for="tipoC">Caliente</label>
                    </div>
                    <div class="col-lg-4 form-check">
                        <label class="form-label"><b>Tipo</b></label><br>
                        <input class="form-check-input"  type="radio" id="catC" name="Categoria" value="Café" [(ngModel)]="catFilter">
                        <label class="form-check-label" for="catC">Café</label><br>
                        <input class="form-check-input"  type="radio" id="catT" name="Categoria" value="Té" [(ngModel)]="catFilter">
                        <label class="form-check-label" for="catT">Té</label>
                    </div>
                    <div class="col-lg-4 mb-3 mt-3">
                        <label class="form-label"><b>Nombre</b></label>
                        <input class="form-control" type="text" name="filter" [(ngModel)]="nomFilter">
                    </div>
                </div>               
            </form>
        </div>
        <hr>
        <div> <!-- Productos -->
            <div class="row">
                <div class="col-lg-6">
                    <h4>Bebidas</h4>
                </div>
                <div class="col-lg-6 hi">
                    <button class="btn btn-primary" (click)="ocultar()">Ocultar Receta</button>
                </div>
            </div>
            <div class="row overflow-auto holi">
                <div class="col-lg-4 tarjeta" *ngFor="let receta of recetas | recetaFiltro: listFilter | categoriaFiltro: catFilter | nombresFiltro: nomFilter">
                    <img [src]="receta.ImagenUrl" [title]="receta.Nombre">
                    <h6>{{receta.Nombre}}</h6>
                    <p>${{receta.Precio}}.00</p>
                    <button (click)="filtroId(receta.Nombre)" class="btn btn-primary">Mostrar Receta</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 ingredientes holi2"> <!-- Recetas -->
        <div [style.display]="displaye">
            <div class="titulo" *ngFor="let receta of recetas | idFiltro: idFilter">
                <h5 class="tt" >{{receta.Nombre}}</h5>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="ing">Ingrediente</th>
                        <th class="can">Cantidad</th>
                    </tr>
                </thead>
                <tbody *ngFor="let receta of recetas | idFiltro: idFilter">
                    <tr>
                        <td>{{receta.Ingrediente1}}</td>
                        <td>{{receta.Cantidad1}}</td>
                    </tr>
                    <tr>
                        <td>{{receta.Ingrediente2}}</td>
                        <td>{{receta.Cantidad2}}</td>
                    </tr>
                    <tr>
                        <td>{{receta.Ingrediente3}}</td>
                        <td>{{receta.Cantidad3}}</td>
                    </tr>
                    <tr>
                        <td>{{receta.Ingrediente4}}</td>
                        <td>{{receta.Cantidad4}}</td>
                    </tr>
                    <tr>
                        <td>{{receta.Ingrediente5}}</td>
                        <td>{{receta.Cantidad5}}</td>
                    </tr>
                    <tr>
                        <td>{{receta.Ingrediente6}}</td>
                        <td>{{receta.Cantidad6}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>