<nav class="fixed-top">
  <nav class="navbar navbar-expand-sm">
      <div class="container-fluid">
        <a class="navbar-brand active" (click)="desaparece()" routerLink="/Inicio">Divina Cafetería</a>
        <div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/Inicio" (click)="desaparece()">
                <img onmouseout="src='./assets/icon/inicio.png';" onmouseover="src='./assets/icon/inicio-hover.png';" src="./assets/icon/inicio.png"/>
                Inicio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  disabled (click)="aparece()">
                <img onmouseout="src='./assets/icon/registros.png';" onmouseover="src='./assets/icon/registros-hover.png';" src="./assets/icon/registros.png"/>
                Registros
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Recetas" (click)="desaparece()">
                <img onmouseout="src='./assets/icon/recetas.png';" onmouseover="src='./assets/icon/recetas-hover.png';" src="./assets/icon/recetas.png"/>
                Recetas
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Sesion" (click)="cerrar(); desaparece()">
                <img onmouseout="src='./assets/icon/sesion.png';" onmouseover="src='./assets/icon/sesion-hover.png';" src="./assets/icon/sesion.png"/>
                Cerrar Sesión
              </a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
  <nav class="navbar navbar-expand-sm" [style.display]="display">
    <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" routerLink="/Registros/Usuarios" (click)="desaparece()">
              <img onmouseout="src='./assets/icon/usuario.png';" onmouseover="src='./assets/icon/usuario-hover.png';" src="./assets/icon/usuario.png"/>
              Usuarios
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/Registros/Ventas" (click)="desaparece()">
              <img onmouseout="src='./assets/icon/ventas.png';" onmouseover="src='./assets/icon/ventas-hover.png';" src="./assets/icon/ventas.png"/>
              Ventas
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/Registros/Productos" (click)="desaparece()">
              <img onmouseout="src='./assets/icon/productos.png';" onmouseover="src='./assets/icon/productos-hover.png';" src="./assets/icon/productos.png"/>
              Ingredientes
            </a>
          </li>
        </ul>
      </div>
  </nav>
</nav>
