@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #68927a;
}

h1{
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}